:root {
  --section-color-dark: #2f303a;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --section-color-light: #f5f4fa;
  --main-font-color: #212121;
  --button-border-radius: 4px;
  --font-color-dark: #757575;
  --card-border-color: #eeeeee;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --dark-color: #000000;
  --icon-color: #afb1b8;
  --back-bg: #c4c4c4;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --grid__item: 4;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-filter {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .portfolio-filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.portfolio-filter__btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--section-color-light);
  border-radius: 4px;
  padding: 6px 22px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms var(--timing-function);
}

.btn--accent {
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-grid__item {
  flex-basis: calc((100% - 30px * 1) / 1);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-grid__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-grid__item {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

.portfolio-grid__item:focus .portfolio-grid-overlay__text,
.portfolio-grid__item:hover .portfolio-grid-overlay__text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-grid__link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-grid__link:focus, .portfolio-grid__link:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-grid-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-grid-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  padding: 15px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  transform: translatey(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 480px) {
  .portfolio-grid-overlay__text {
    padding-top: 74px;
    padding-bottom: 74px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-grid-overlay__text {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-grid-overlay__text {
    padding: 63px 24px;
  }
}

.portfolio-grid-bottom {
  text-align: left;
  padding: 20px 24px;
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-grid-bottom-padding-bottom {
    padding-bottom: 56px;
  }
}

.portfolio-grid-bottom__lable {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-grid-bottom__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
  font-weight: normal;
  margin-bottom: 0;
}

.header {
  border-bottom: 1px solid #ececec;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 767.98px) {
  .site-nav--mobile {
    display: none;
  }
}

.site-nav .item .current {
  color: var(--accent-color);
}

.site-nav__logo {
  text-decoration: none;
  color: var(--dark-color);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav__logo--logo-part {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.site-nav__item {
  position: relative;
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-font-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}

.header-contact {
  display: flex;
  align-items: center;
  color: var(--font-color-dark);
}

@media screen and (max-width: 767.98px) {
  .header-contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contact {
    flex-wrap: wrap;
    margin-left: 84px;
  }
  .header-contact .header-contact__item:not(:last-child) {
    margin-right: 0;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact .header-contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--font-color-dark);
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.header-contact__link--top {
  padding-top: 21px;
}

.header-contact__link--bottom {
  padding-bottom: 21px;
}

.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contact__icon-1 {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contact__icon-2 {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767.98px) {
  .mobile-menu-btn {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    right: 23px;
    top: 22px;
    z-index: 556;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu-icon {
    width: 24px;
    height: 16px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 555;
  overflow: scroll;
  background: var(--main-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: right 1000ms var(--timing-function);
}

.mobile-menu.is-open {
  right: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  padding-left: 0;
}

@media screen and (min-width: 480px) {
  .mobile-menu-container {
    margin-left: 40px;
  }
}

.mobile-menu-nav {
  margin-top: 48px;
  margin-bottom: 302px;
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav__link--current {
  color: var(--accent-color);
}

.mobile-menu-contact {
  position: absolute;
  bottom: 134px;
}

.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--font-color-dark);
}

.mobile-menu-contact__link:hover, .mobile-menu-contact__link:focus {
  color: var(--accent-color);
  font-size: 34px;
}

.icon-close {
  display: none;
}

.is-open .icon-close {
  display: block;
  fill: currentColor;
}

.is-open .icon-menu {
  display: none;
  fill: currentColor;
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 55px;
}

.mobile-menu-social__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-social__link {
  padding-right: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu-social__link {
    padding-right: 10px;
  }
}

.hero {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--back-bg);
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero@2x-mobile.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero@2x-tablet.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desctop/hero-desctop.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desctop/hero@2x-desctop.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .hero__container {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    width: 696px;
  }
}

.hero__lable {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__lable {
    font-size: 44px;
  }
}

.hero__btn {
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);
  border: none;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  padding: 10px 32px;
}

.principles {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .principles {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.principles__item {
  flex-basis: calc((100% - 30px * 1) / 1);
  margin-left: 30px;
  margin-top: 30px;
  width: 420px;
}

@media screen and (min-width: 768px) {
  .principles__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .principles__item {
    flex-basis: calc((100% - 30px * 4) / 4);
    width: 270px;
  }
}

.principles__wrap {
  display: flex;
  padding: 0;
  margin-bottom: 30px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--section-color-light);
  border-radius: 4px;
}

.principles__lable {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .principles__lable {
    text-align: left;
  }
}

.principles__text {
  margin-bottom: 0;
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
}

.directions {
  text-align: center;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .directions {
    display: none;
  }
}

.directions__lable {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.directions__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.directions__item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
}

.directions__img-lable {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-color-light);
}

.team__lable {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.card-set__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * 1) / 1);
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .card-set__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.card-set__lable {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-set__text {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
}

.card-set__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.card-set-bottom__list {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card-set-bottom__item:not(:last-child) {
  margin-right: 10px;
}

.card-set-bottom__link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.card-set-bottom__link:focus, .card-set-bottom__link:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.card-set-bottom__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__lable {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.clients__item {
  flex-basis: calc((100% - 30px * 2) / 2);
  margin-left: 30px;
  margin-top: 30px;
  width: 210px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 30px * 3) / 3);
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 30px * 6) / 6);
    width: 170px;
  }
}

.clients__item .clients__link {
  display: flex;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms var(--accent-color);
}

.clients__item .clients__link:hover, .clients__item .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  z-index: 990;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 600ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 450px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: transform 2000ms var(--timing-function), opacity 1000ms var(--timing-function), box-shadow 2000ms var(--timing-function);
}

@media screen and (max-width: 480px) {
  .modal {
    width: calc(100% - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms var(--timing-function);
}

.modal__btn::before {
  content: "\2716";
}

.modal__btn:focus, .modal__btn:hover {
  color: var(--accent-color);
}

.modal__lable {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal__lable {
    width: 370px;
    margin-right: auto;
    margin-left: auto;
  }
}

.modal-form {
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .modal-form {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  color: var(--dark-color);
}

.form-field--margin-bottom {
  margin-bottom: 0;
}

.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--font-color-dark);
}

.form-field__input {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 0;
  height: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms var(--timing-function);
}

.form-field__input:hover, .form-field__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-field__icon {
  position: absolute;
  top: 55%;
  margin-left: 12px;
  fill: currentColor;
  transition: color 250ms var(--timing-function);
}

.form-field__icon:focus, .form-field__icon:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
  color: var(--accent-color);
}

.form-field:focus-within > .form-field__icon {
  color: rgba(33, 150, 243, 0.9);
}

.form-text-area::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__text-area {
  resize: none;
  cursor: pointer;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms var(--timing-function);
}

.form-field__text-area:hover, .form-field__text-area:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-field:nth-child(5) {
  flex-direction: row;
}

.form-field__checkbox-lable {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .form-field__checkbox-lable {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .form-field__checkbox-lable {
    font-size: 14px;
  }
}

.form-field__checkbox {
  appearance: none;
}

.form-field__check-box-part {
  cursor: pointer;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  background-image: url(../images/vector.svg);
}

@media screen and (min-width: 1200px) {
  .form-field__check-box-part {
    margin-left: 12px;
  }
}

.form-field__checkbox:focus + .form-field__check-box-part {
  outline: 1px solid var(--accent-color);
}

.form-field__checkbox:checked:focus + .form-field__check-box-part {
  background-color: #2196f3;
  outline: 1px solid var(--accent-color);
  background-image: url(../images/r.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form__btn {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  cursor: pointer;
  border: none;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.footer-container {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .footer-container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    max-width: 1200px;
    display: flex;
    align-items: baseline;
  }
}

.footer {
  background-color: var(--section-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-adress-container {
    margin-bottom: 60px;
  }
}

.footer-logo {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.footer-logo__part {
  color: var(--accent-color);
}

.footer-adress:nth-child(2) {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__link {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: var(--footer-link-color);
  transition: color 250ms var(--timing-function);
}

.footer-adress__link:hover, .footer-adress__link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social__link {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 103px;
    margin-top: 0;
  }
}

.footer-form__label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-form__input {
  width: 100%;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--section-color-dark);
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__input {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  position: relative;
  border: none;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__btn::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon_send.svg);
  top: 50%;
  transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */