:root {
  --section-color-dark: #2f303a;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --section-color-light: #f5f4fa;
  --main-font-color: #212121;
  --button-border-radius: 4px;
  --font-color-dark: #757575;
  --card-border-color: #eeeeee;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --dark-color: #000000;
  --icon-color: #afb1b8;
  --back-bg: #c4c4c4;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --grid__item: 4;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  height: auto;
  min-width: 100%;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  -ms-flex-preferred-size: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
      flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.portfolio-filter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--section-color-light);
  border-radius: 4px;
  padding: 6px 22px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-grid__item {
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-grid__item:focus .portfolio-grid-overlay__text,
.portfolio-grid__item:hover .portfolio-grid-overlay__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-grid__link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio-grid__link:focus, .portfolio-grid__link:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio-grid-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-grid-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.portfolio-grid-bottom {
  text-align: left;
  padding: 20px 24px;
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
}

.portfolio-grid-bottom__lable {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-grid-bottom__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
  font-weight: normal;
  margin-bottom: 0;
}

.header {
  border-bottom: 1px solid #ececec;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.site-nav .item .current {
  color: var(--accent-color);
}

.site-nav__logo {
  text-decoration: none;
  color: var(--dark-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav__logo--logo-part {
  color: var(--accent-color);
}

.site-nav__item {
  position: relative;
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-font-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--font-color-dark);
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--font-color-dark);
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}

.header-contact__icon-1 {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contact__icon-2 {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--back-bg);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__container {
  width: 696px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.hero__lable {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  letter-spacing: 0.06em;
}

.hero__btn {
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);
  border: none;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  padding: 10px 32px;
}

.principles {
  padding-top: 94px;
  padding-bottom: 94px;
}

.principles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principles__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--section-color-light);
  border-radius: 4px;
}

.principles__lable {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.principles__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
  margin-bottom: 0;
}

.directions {
  text-align: center;
  padding-bottom: 94px;
}

.directions__lable {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.directions__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.directions__item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
}

.directions__img-lable {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--section-color-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__lable {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-set__item {
  width: 270px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 488px) {
  .card-set__item {
    --grid__item: 2;
  }
}

.card-set__lable {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-set__text {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
}

.card-set__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.card-set-bottom__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card-set-bottom__item:not(:last-child) {
  margin-right: 10px;
}

.card-set-bottom__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.card-set-bottom__link:focus, .card-set-bottom__link:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.card-set-bottom__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__lable {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-color);
  -webkit-transition: color 250ms var(--accent-color);
  transition: color 250ms var(--accent-color);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer {
  background-color: var(--section-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-color);
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.footer-logo__part {
  color: var(--accent-color);
}

.footer-adress:nth-child(2) {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__link {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  color: var(--footer-link-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-adress__link:hover, .footer-adress__link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-color);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-form {
  margin-left: 103px;
}

.footer-form__label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer-form__input {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--section-color-dark);
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  position: relative;
  border: none;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__btn::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon_send.svg);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */