:root {
  --section-color-dark: #2f303a;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --section-color-light: #f5f4fa;
  --main-font-color: #212121;
  --button-border-radius: 4px;
  --font-color-dark: #757575;
  --card-border-color: #eeeeee;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --dark-color: #000000;
  --icon-color: #afb1b8;
  --back-bg: #c4c4c4;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --grid__item: 4;
}
