.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-color-light);
  // padding-top: 94px;
  // padding-bottom: 94px;
}
.team__lable {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);

  // margin-bottom: 50px;
  // font-size: 36px;
  // line-height: 1.2;
}

.card-set__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * 1) / 1);
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}
.card-set__lable {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.card-set__text {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-dark);
}
.card-set__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.card-set-bottom__list {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.card-set-bottom__item:not(:last-child) {
  margin-right: 10px;
}
.card-set-bottom__link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
    color: var(--main-color);
    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function);
  }
}
.card-set-bottom__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
